.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
}
  
.block {
    background-color: lightgrey;
    width: 25%;
    height: 250px;
    text-align: center;
    line-height: 75px;
    font-size: 25px;
    border: black;
    border-style: solid;
    margin: auto;
}
  
.scoreboard {
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    font-family: monospace;
    color: crimson;
}

.homeDiv {
    background-color: transparent;
    color: red;
}

.visDiv {
    background-color: transparent;
    color: blue;
}

.period {
    background-color: pink;
    color: black;
    font-size: 12px;
    font-family: monospace;
}

body {
    background-color: black
}