body {
    background-color: black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    justify-content: left;
    font-family: Bangers;
    padding: 16px;
}

.scoreboard {
    background-color: transparent;
    text-align: center;
    font-size: xxx-large;
    font-family: Bangers;
    color: crimson;
    width: 100%;
    height: auto;
    margin: 0px;
}

.block {
    background-color: lightgrey;
    width: 350px;
    height: 300px;
    text-align: center;
    line-height: 75px;
    font-size: 45px;
    margin: 1px;
    font-family: inherit;
    color: black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: black 5px solid;
}

.block:hover {
    background-color: black;
    color: whitesmoke;
}

.dates {
    background-color: inherit;
    color: inherit;
    font-size: large;
    width: 100%;
    height: 50px;
}

.homeDiv {
    background-color: inherit;
    color: inherit;
    width: 100%;
    height: 60px;
}

.visDiv {
    background-color: inherit;
    color: inherit;
    width: 100%;
    height: 60px;
}

.period {
    background-color: inherit;
    color: inherit;
    font-size: x-large;
    width: 100%;
    height: 40px;
}

button {
    background-color: whitesmoke;
    animation-name: unset;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    to {
        transform: scale(1);
    }
}

button:hover {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: transparent;
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    background-color: whitesmoke;
    margin: auto;
    padding: auto;
    border: 5px solid gold;
    height: 550px;
    width: 90%;
    font-size: 10px;
    overflow: hidden;
}

/* The Close Button */

.close {
    color: black;
    float: right;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
}

.close:hover {
    color: crimson;
    background-color: transparent;
}

.divTable {
    height: 90%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 99%;
    height: 95%;
    margin: 5px auto auto auto;
}

td, th {
    border: 1px solid black;
    background: silver;
    color: black;
    line-height: 15px;
    font-size: 15px;
    white-space: nowrap;
    width: auto;
    min-width: 3em;
    max-width: 3em;
}

tr {
    background: #ccc;
}

tbody tr th:first-child, tbody tr td:first-child {
    width: 12em;
    min-width: 8em;
    max-width: 15em;
    word-break: keep-all;
    text-align: left;
    white-space: nowrap;
}

#statsheet {
    float: left;
    line-height: 1.5em;
    width: 97%;
    margin: auto;
    font-size: 25px;
    background-color: transparent;
    text-align: center;
}